.List_Item_Box_Main {
  .MuiCard-root {
    display: flex;
    flex-direction: column;
  }

  .MuiCard-root {
    display: flex;
    flex-direction: column;
    height: 100%;

    .MuiCardActionArea-root {
      flex: 1 1 auto;
      flex-direction: column;
      align-items: unset;

      &:hover {
        .MuiCardActionArea-focusHighlight {
          display: none;
        }

        .MuiTouchRipple-root {
          display: none;
        }
      }
    }
  }
}

.List_Item_Box_Main {
  .MuiPaper-root {
    background: none;
    box-shadow: none;
  }

  .MuiCardActionArea-root {
    cursor: default;
  }

  .MuiCardMedia-root {
    border-radius: 6px;
  }

  .MuiCardContent-root {
    padding: 20px 0px 0px 0px;
  }

  .MuiTypography-h5 {
    font-weight: 600;
    font-size: 20px;
    color: #5b46a7;
  }

  .MuiCardActions-root {
    padding: 0px;
  }

  .MuiButton-sizeSmall {
    padding: 0 0 0 0;
    color: #f46e3e;
    font-weight: 600;
    margin: 12px 0 0 0;
    transition: all 300ms ease;

    &:hover {
      background: none;
      color: #ffbc07;
    }
  }

  .MuiButton-label {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  }
}
