.List_Item_Box_Main {
  .MuiCard-root {
    display: flex;
    flex-direction: column;
  }

  .MuiCard-root {
    display: flex;
    flex-direction: column;
    height: 100%;

    .MuiCardActionArea-root {
      flex: 1 1 auto;
      flex-direction: column;
      align-items: unset;
    }
  }
}
