@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");

.Main_Header {
  padding: 30px 0px 0px 0px;

  .MuiAppBar-colorPrimary {
    background: none;
    box-shadow: none;
  }

  .MuiToolbar-gutters {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px 40px 20px 40px;
    background: #fff;
  }
  .Main_Logo {
    // max-width: 300px;
    flex: 0 0 300px;
    padding-right: 60px;
  }

  .makeStyles-search-7 {
    flex: 1 1 auto;

    .MuiInputBase-root {
      width: 100%;
    }
    input {
      background: #f8f8f8;
      width: 100%;
      height: 44px;
      border-radius: 100px;
      color: #333;
    }
  }

  .MuiSvgIcon-root {
    fill: #000;
  }
  .menu_button {
    flex: 0 0 60px;
    display: flex;
    justify-content: flex-end;

    .Item_Counter {
      position: absolute;
      top: 5px;
      right: 0px;
      background: #6555c3;
      height: 18px;
      width: 18px;
      font-size: 10px;
      font-weight: 600;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .MuiIconButton-edgeEnd {
      position: relative;
    }
  }

  .makeStyles-drawerPaper-11 {
    width: 350px;
  }

  .MuiDrawer-paperAnchorDockedRight {
    background: #2b263c;
    border-left: 1px solid #e2e2e2;
    display: flex;
    flex-direction: column;

    .makeStyles-drawerHeader-12 {
      flex: 0 0 64px;

      .MuiSvgIcon-root {
        fill: #fff;
      }

      h3 {
        color: #fff;
      }
    }

    .cart_list_main {
      flex: 1 1 auto;
      overflow: auto;
    }
  }

  .checkout_content {
    border-top: 1px solid #433e56;
    padding: 8px 0 7px 0;
    .cart_item_name_block {
      display: flex;
      justify-content: space-between;
      padding: 4px 20px 4px 20px;
      font-size: 13px;
      font-weight: 600;
    }

    .cart_item_name {
      color: rgb(147, 141, 167);
    }

    .cart_item_price_main {
      color: #fff;
    }

    .cart_item_name_block {
      button {
        width: 100%;
        border: none;
        background: #fa6b3a;
        color: #fff;
        border-radius: 8px;
        height: 40px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: all 300ms ease;
        margin-top: 7px;

        &:hover {
          background: #f46e3e;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .Main_Header {
    padding: 10px 0px 0px 0px;

    .Main_Logo {
      padding: 0px 0px 14px 0px;
      display: flex;
      justify-content: center;
      flex: 0 0 100%;

      img {
        max-width: 140px;
      }
    }

    .MuiToolbar-gutters {
      flex-wrap: wrap;
      padding: 10px 20px 10px 20px;
    }

    .makeStyles-search-7 {
      flex: 1 2 0;

      input {
        height: 26px;
      }
    }

    .menu_button {
      flex: 0 0 40px;
    }

    .MuiAppBar-colorPrimary {
      background: none;
      box-shadow: none;
      width: 100%;
      transition: none;
      margin: 0;
    }
  }
}
